<!DOCTYPE html>
<head>
  <title>Mediglot.ai</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='hospital.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='hospital.png') }}" class="icon" />
  <h3>Mediglot.ai</h3>
  <form action="{{ next }}" method="post" enctype="multipart/form-data">
    <textarea type="text" name="medical_text" placeholder="Enter medical diagnosis to be simplified here."></textarea> 
    <input type="file" name="audio" accept="audio/*">
    <input type="submit" name="simplify" value="Simplify" class="simplify-button" id="simplifyButton" style="margin-top: 12px;" onclick="showLoadingButton()" />
    <input type="submit" id="loadingButton" class="loading-button" value="Loading..." style="background-color: #67bba6; margin-top: 12px;" disabled />
    <input type="submit" name="translate" value="Translate" class="translate-button" style="background-color: #a38a10; margin-top: 12px;" />
    <input type="submit" name="restart" value="Restart" class="restart-button" style="background-color: #1094a3; margin-top: 12px;" />
  </form>
  <div class="result">
    <textarea type="text" name="simplified_text" placeholder="Simplified text here.">{{ result }}</textarea> 
  </div>
  {% if result %}
  <audio controls>
    <source src="{{ url_for('static', filename='output.mp3') }}" type="audio/mpeg">
    Your browser does not support the audio element.
  </audio>
  {% endif %}

  <script>
    function showLoadingButton() {
      document.getElementById("simplifyButton").style.display = "none";
      document.getElementById("loadingButton").style.display = "inline-block";
    }
  </script>
</body>
</html>