<!DOCTYPE html>
<head>
  <title>Mediglot.ai</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='hospital.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <div class="container">
    <div class="column" style="justify-content: center; align-items: center;" >
      <img src="{{ url_for('static', filename='hospital.png') }}" class="icon" />
      <h3>Mediglot.ai</h3>
      <div class="bullet-list">
        <p>Bienvenido a MediGlot, su traductor médico personal.</p>
        <ul>
          <li>Grabe el discurso de alguien presionando el botón de grabación. También puede copiar y pegar en el cuadro de mensaje original.</li>
          <li>Presiona “Traducir” para traducir el mensaje. Presione "simplificar" para explicar la información médica.</li>
          <li>Presione "Reiniciar" para borrar el mensaje original.</li>
        </ul>
      </div>
      <!-- Added Voice Recording Buttons -->
      <button id="start" disabled>Start recording</button>
      <button id="stop" disabled>Stop recording</button>
    </div>
    <div class="column">
      <h3>Original</h3>
      <form action="{{ next }}" method="post" enctype="multipart/form-data">
        <textarea type="text" name="medical_text" placeholder="Enter medical diagnosis to be simplified here.">{% if original %}{{ original }}{% endif %}</textarea> 
        <input type="file" name="audio" accept="audio/*">
        <input type="submit" name="simplify" value="Simplify" class="simplify-button" id="simplifyButton" style="margin-top: 12px;" onclick="showLoadingButton()" />
        <input type="submit" id="loadingButton" class="loading-button" value="Loading..." style="background-color: #67bba6; margin-top: 12px;" disabled />
        <input type="submit" name="translate" value="Translate" class="translate-button" style="background-color: #a38a10; margin-top: 12px;" />
        <input type="submit" name="restart" value="Restart" class="restart-button" style="background-color: #1094a3; margin-top: 12px;" />
      </form>
    </div>
    <div class="column">
      <h3>Translation</h3>
      <div class="result">
        <textarea type="text" name="simplified_text" placeholder="Simplified text here." style="height: 500px;">{% if result %}{{ result }}{% endif %}</textarea> 
      </div>
      {% if result %}
      <audio controls>
        <source src="{{ url_for('static', filename='output.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      {% endif %}
    </div>
  </div>

  <script>
    function showLoadingButton() {
      document.getElementById("simplifyButton").style.display = "none";
      document.getElementById("loadingButton").style.display = "inline-block";
    }
    
    let mediaRecorder;
    let chunks = [];

    navigator.mediaDevices.getUserMedia({ audio: true })
      .then(stream => {
        mediaRecorder = new MediaRecorder(stream);
        document.getElementById('start').disabled = false;

        mediaRecorder.ondataavailable = event => {
          chunks.push(event.data);
        };

        mediaRecorder.onstop = () => {
          let blob = new Blob(chunks, { 'type' : 'audio/webm' });
          chunks = [];
          let formData = new FormData();
          formData.append('audio', blob, 'audio.webm');

          fetch('/upload', { method: 'POST', body: formData })
              .then(response => {
                  if (!response.ok) {
                      throw new Error('Network response was not ok');
                  }
                  return response.text();
              })
              .then(data => {
                  console.log('File uploaded successfully:', data);
              })
              .catch(error => {
                  console.error('Error:', error);
              });
        };
      });

    document.getElementById('start').addEventListener('click', () => {
      mediaRecorder.start();
      document.getElementById('stop').disabled = false;
      document.getElementById('start').disabled = true;
    });

    document.getElementById('stop').addEventListener('click', () => {
      mediaRecorder.stop();
      document.getElementById('stop').disabled = true;
      document.getElementById('start').disabled = false;
    });
  </script>
</body>
</html>
