<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Mediglot.ai</h3>
  <form action="/" method="post">
    <textarea type="text" name="medical_text" placeholder="Enter medical diagnosis to be simplified here."></textarea> 
    <input type="submit" name="simplify" value="Simplify" />
    <input type="restart" name="restart" value="Restart" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
